.services .skills {
    display: flex;
    justify-content: space-between;
    padding: 0 10em;

    ul {
        flex: 1;

        li {
            padding: .8em;

            i {
                font-size: 45px;
            }

            span {
                vertical-align: super;
            }
        }

        .light {
            background: #f5f5f5;
        }

        .dark {
            background: #f9f9f9;
        }

        .coming-soon {
            i, span, em {
                color: #afafaf;
            }
        }
    }
}

@include break(tablet) {
    .services .skills {
        padding: 0;

        ul li {
            text-align: center;

            i,span {
                display: block;
            }
        }
    }
}

@include break(phone) {
    .services .skills {
        flex-direction: column;
        padding: 0;

        ul li {
            text-align: center;

            i {
                display: block;
            }

            span {
                display: block;

                em {
                    display: block;
                }
            }
        }
    }
}
