// Buttons
.primary-btn {
	background: #ffa200;
	border:0;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display:inline-block;
	padding: .75em 1em;
	transition: .3s background;

	&:hover {
		background: lighten(#ffa200, 10%);
	}
}

// Forms

.input-wrapper {
	// Label Tags
	label {
		display: block;
		margin-bottom: .5em;
	}
	// Input Tags
	input {
		border: 1px solid #cecece;
		padding: .3em;
		width: 100%;
	}

	input::placeholder {
		color: #cecece;
	}

	// Select Tags

	select {
		background: none;
		border: 1px solid #cecece;
		display: block;
		height: 2.3em;
		width: 100%;
	}

	textarea {
		border: 1px solid #cecece;
		padding: .3em;
		width: 100%;
	}
}