* {
    font-family: sans-serif;
    transition:all .5s ease-in-out;
   	-o-transition:all .5s ease-in-out;
   	-moz-transition:all .5s ease-in-out;
   	-webkit-transition:all .5s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


.splash-page {
    background: #000;
    height: 100vh;
    overflow: hidden;
}

.splash-page .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.splash-page .logo {
    margin-bottom: 65px;
}

.splash-page .logo img {
    width: 450px;
    margin-bottom: 15px;
}

.splash-page .logo p {
    color: #fff;
    font-size: 24px;
    letter-spacing: 9px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-page .fb-info {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.splash-page .fb-info p {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.splash-page .fb-info .primary-btn {
    border: 3px solid #fff;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    padding: 8px 20px;
    text-decoration: none;
}

.splash-page .fb-info .primary-btn:hover {
    background: rgba(255, 255, 255, 0.35);
}

@media (max-width: 700px) {

    .splash-page .logo img {
        width: 320px;
    }

    .splash-page .logo p {
        font-size: 16px;
        letter-spacing: 6px;
    }
}

@media (max-width: 320px) {

    .splash-page .logo img {
        width: 280px;
        margin-bottom: 10px;
    }

    .splash-page .logo p {
        font-size: 14px;
        letter-spacing: 6px;
    }
}

.splash-page .canvas-img {
    background: url('../img/header.png') center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
