.canvas-img {
    background: url('http://d3bxc35nu1b8m6.cloudfront.net/header.png') center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 101%;
    width: 100%;
}
