footer {
	height: 100px;
    background: rgb(48, 34, 33);
    color: white;

    div{
    	text-align: center;
    }

    p {
	    padding-top: 2.5em;
	    font-size: .8em;
    }

    .fa {
        padding: .5em;
    }
    
    .fa-facebook {
    	color: #0057B1;
    }

    .fa-instagram {
    	color: #885200;
    }
}