footer {
	height: 100px;
    background: #333;

    div{
    	text-align: center;
    }

    p {
	    padding-top: 2.5em;
	    font-size: .8em;
    }

    .fa-facebook {
    	color: #0057B1;
    }

    .fa-instagram {
    	color: #885200;
    }
}