.main-nav {
	padding: 1em 3em;
	position: fixed;
	width: 100%;
	z-index: 1;

	nav {

		.brand {
			cursor: pointer;
			display: inline-block;
			float: left;
			padding: .5em 0;

			img {
				margin-top: .3em;
				width: 6em;
			}
		}

		ul {
			float: right;
			padding: 1.2em 0;
			width: inherit;
		}

		li {
			display: inline-block;
			margin-right: 1em;

			a {
				color: #fff;
				display: block;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		nav {
			.brand {
				width: 100%;
    			text-align: center;

				img {
					margin-top: .3em;
					width: 6em;
				}
			}

			ul {
				width: 100%;
			}

			li {
				width: 100%;

				a {
					text-align: center;
    				width: 100%;
				}
			}
		}
	}
}
