.works {
	background: #f7f7f7;
	border-top: 1px solid #e1e1e1;
	padding: 3em 7em; 

	h2 {
		text-align: center;
		margin-bottom: 1em;
	}

	.tabs {
		lost-utility: clearfix;
		margin: 0 auto 3em;
		text-align: center;
		width: 42%;

		li {
			display:inline-block;
			border-right: 1px solid #e1e1e1;
			/*float: left;*/
			padding: 0 .5em;

			&:last-child {
				border: none;
			}

			button {
				background: #f7f7f7;
				border: none;
				cursor: pointer;
				outline: none;
			}

			.active {
				border-bottom: 2px solid #ffa200;
				color: #ffa200;	
			}
		}
	}

	.works-wrapper {
		lost-utility: clearfix;

		li {
			@lost gutter 15px;

			lost-column: 1/4;
			background: #fff;
			border-radius: 2px;
			box-shadow: #cecece 0px 0px 3px 0px;
			margin-bottom: 1em;
			padding: .6em;
			overflow: hidden;

			a {
				display: block;
				overflow: hidden;

				img {
					width: 100%;
				}
			}
		}
	}

	.branding {
		p {
			font-size: 2em;
		    text-align: center;
		    padding: 20px 0;
		}
	}

	.img-zoom {
	    width: 310px;
	    -webkit-transition: all .2s ease-in-out;
	    -moz-transition: all .2s ease-in-out;
	    -o-transition: all .2s ease-in-out;
	    -ms-transition: all .2s ease-in-out;
	}
	 
	.transition {
	    -webkit-transform: scale(2); 
	    -moz-transform: scale(2);
	    -o-transform: scale(2);
	    transform: scale(2);
	}
}